:root {
    --black: #000000;
    --outer-space: #31353b;
    --shark: #21242980;
    --white: #ffffff;
    --font-size-l: 12px;
    --font-size-m: 10px;
    --font-size-s: 9px;
    --font-size-xl: 15px;
    --font-size-xxl: 24px !important;
    --font-size-xxxl: 40px;
    --font-family-roboto: "Rosarivo", Helvetica
}

.roboto-semi-bold-white-12px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600
}

.orc-add-friend {
    background-color: #191919;
    height: 932px;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 430px
}

.orc-add-friend .rectangle-3-YWnndF {
    background: linear-gradient(180deg, #000 0, rgb(209.00000274181366, 0, 28.000000230968) 100%);
    background-color: transparent;
    height: 296px;
    left: 0;
    position: absolute;
    top: 0;
    width: 428px
}

.orc-add-friend .rectangle-1-YWnndF {
    background: linear-gradient(180deg, rgb(42.000001296401024, 63.000000044703484, 41.00000135600567) 0, rgb(192.00000375509262, 177.0000046491623, 4.000000236555934) 100%);
    background-color: transparent;
    border-radius: 50px 50px 0 0;
    height: 867px;
    left: 0;
    position: absolute;
    top: 164px;
    width: 428px
}

.orc-add-friend .frame-10-YWnndF {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    gap: 8px;
    left: 117px;
    position: absolute;
    top: 209px;
    width: 193px
}

.orc-add-friend .group-19-YWnndF {
    background-color: transparent;
    height: 75px;
    left: 30px;
    position: absolute;
    top: 312px;
    width: 367px
}

.orc-add-friend .group-18-ads4WT {
    height: 75px !important;
    width: 367px !important;
    display: flex !important;
    justify-content: center !important
}

.orc-add-friend .rectangle-11-hwdVXu {
    background-color: var(--outer-space) !important;
    height: 75px !important;
    width: 367px !important
}

.orc-add-friend .frame-22-hwdVXu {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 7px
}

.orc-add-friend .peon-6jHW5V {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.48px;
    line-height: 26.4px
}

.orc-add-friend .frame-23-hwdVXu {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 25px;
    position: absolute;
    top: 40px;
    width: 346px
}

.orc-add-friend .add-your-friends-and-SaVObQ {
    align-self: stretch;
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    height: 25px;
    letter-spacing: -.2px;
    line-height: 11px;
    margin-top: -1px;
    position: relative;
    text-align: center
}

.orc-add-friend .add-friend-button-YWnndF {
    background-color: transparent;
    height: 55px;
    left: 34px;
    position: absolute;
    top: 394px;
    width: 363px;
    display: flex;
    justify-content: center
}

.orc-add-friend .group-18-DJAnWR {
    height: 55px !important;
    width: 363px !important;
    display: flex;
    justify-content: center
}

.orc-add-friend .rectangle-11-tLIa2h {
    background-color: #0261ff !important;
    height: 55px !important;
    width: 363px !important
}

.orc-add-friend .frame-21-tLIa2h {
    align-items: flex-start;
    background-color: #0261ff;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 15px
}

.orc-add-friend .add-friend-IX9HgH {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.48px;
    line-height: 26.4px;
    margin-top: -1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content
}

.orc-add-friend .group-27-YWnndF {
    background-color: transparent;
    height: 428px;
    left: 30px;
    position: absolute;
    top: 461px;
    width: 367px
}

.orc-add-friend .rectangle-10-nSIjJq {
    background-color: var(--outer-space);
    border-radius: 10px;
    height: 428px;
    left: 0;
    position: absolute;
    top: 0;
    width: 367px
}

.orc-add-friend .frame-16-nSIjJq {
    background-color: transparent;
    height: 136px;
    left: 4px;
    position: absolute;
    top: 42px;
    width: 66px
}

.orc-add-friend .friend-list-nSnucG {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 600;
    height: auto;
    left: 153px;
    letter-spacing: -.3px;
    line-height: 16.5px;
    position: absolute;
    text-align: left;
    top: -20px;
    white-space: nowrap;
    width: auto
}

.orc-add-friend .group-57-nSnucG {
    background-color: transparent;
    height: 33px;
    left: 0;
    position: relative;
    width: 358px;
    margin-top: 5px
}

.orc-add-friend .frame-18-mujmNE {
    align-items: center;
    background-color: var(--shark);
    border-radius: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: absolute;
    top: 0;
    width: -webkit-fill-available
}

.orc-add-friend .carzyl544-RccxTl {
    background-color: transparent;
    letter-spacing: -.24px;
    line-height: 13.2px;
    margin-top: -1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content
}

.orc-add-friend .frame-19-mujmNE {
    background-color: var(--shark);
    display: flex;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 66px
}

.orc-add-friend .x1-fkSG5E {
    background-color: transparent;
    letter-spacing: -.24px;
    line-height: 13.2px;
    margin-top: -1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content
}

.orc-add-friend .group-58-YWnndF {
    background-color: transparent;
    height: 33px;
    left: 34px;
    position: absolute;
    top: 544px;
    width: 358px
}

.orc-add-friend .group-59-YWnndF {
    background-color: transparent;
    height: 33px;
    left: 34px;
    position: absolute;
    top: 582px;
    width: 358px
}

.orc-add-friend .group-60-YWnndF {
    background-color: transparent;
    height: 33px;
    left: 34px;
    position: absolute;
    top: 620px;
    width: 358px
}

.orc-add-friend .group-61-YWnndF {
    background-color: transparent;
    height: 33px;
    left: 34px;
    position: absolute;
    top: 658px;
    width: 358px
}

.orc-add-friend .group-62-YWnndF {
    background-color: transparent;
    height: 33px;
    left: 34px;
    position: absolute;
    top: 696px;
    width: 358px
}

.orc-add-friend .group-63-YWnndF {
    background-color: transparent;
    height: 33px;
    left: 34px;
    position: absolute;
    top: 734px;
    width: 358px
}

.orc-add-friend .group-64-YWnndF {
    background-color: transparent;
    height: 33px;
    left: 34px;
    position: absolute;
    top: 772px;
    width: 358px
}

.orc-add-friend .group-65-YWnndF {
    background-color: transparent;
    height: 33px;
    left: 34px;
    position: absolute;
    top: 810px;
    width: 358px
}

.orc-add-friend .group-66-YWnndF {
    background-color: transparent;
    height: 33px;
    left: 34px;
    position: absolute;
    top: 848px;
    width: 358px
}

.orc-add-friend .frame-15 {
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    position: relative
}

.orc-add-friend .frame-17 {
    align-items: center;
    position: relative
}

.orc-add-friend .frame-19 {
    align-items: center;
    border-radius: 5px;
    gap: 10px;
    justify-content: center
}

.orc-add-friend .group {
    background-color: transparent;
    height: 42px;
    margin-bottom: -2px;
    position: relative;
    transform: rotate(180deg)
}

.orc-add-friend .group-18 {
    background-color: transparent;
    left: 0;
    position: relative;
    top: 0
}

.orc-add-friend .group-8 {
    background-color: transparent;
    height: 42px;
    position: relative
}

.orc-add-friend .peon {
    background-color: transparent;
    margin-top: -1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content
}

.orc-add-friend .rectangle-11 {
    border-radius: 15px;
    left: 0;
    position: absolute;
    top: 0
}