:root {
    --black: #000000;
    --white: #ffffff;
    --font-size-l: 16px;
    --font-size-m: 12px;
    --font-size-s: 11px;
    --font-size-xl: 24px;
    --font-size-xs: 7px;
    --font-family-roboto: "Roboto", Helvetica
}

.orc-melee-weapon {
    background-color: transparent;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 430px;
    z-index: 4;
}

.orc-melee-weapon .group-31-Jxx3Jc {
    background-color: transparent;
    height: 932px;
    left: 0;
    position: relative;
    top: 0;
    width: 430px
}

.orc-melee-weapon .rectangle-3-Op5bx8 {
    background: linear-gradient(180deg, #000 0, #d1001c 100%);
    background-color: transparent;
    height: 609px;
    left: 0;
    opacity: .3;
    position: absolute;
    top: 0;
    width: 428px
}

.orc-melee-weapon .group-28-Op5bx8 {
    background-color: transparent;
    height: 440px;
    left: 0;
    position: absolute;
    top: 492px;
    width: 428px
}

.orc-melee-weapon .rectangle-2-IxqKwS {
    background-color: #d1001c;
    border-radius: 50px 50px 0 0;
    height: 419px;
    left: 0;
    position: absolute;
    top: 0;
    width: 428px
}

.orc-melee-weapon .rectangle-11-IxqKwS {
    background-color: var(--black);
    border-radius: 50px 50px 0 0;
    height: 439px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 428px
}

.orc-melee-weapon .buy-button-IxqKwS {
    align-items: center;
    background-color: #13460e;
    border-radius: 15px 15px 0 0;
    display: flex;
    gap: 10px;
    height: 61px;
    justify-content: center;
    left: 20px;
    padding: 10px;
    position: absolute;
    top: 347px;
    width: 368px;
    cursor: pointer
}

.orc-melee-weapon .buy-DuEsqg {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.32px;
    line-height: 17.6px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content
}

.orc-melee-weapon .a-well-balanced-weap-Op5bx8 {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    height: auto;
    letter-spacing: -.24px;
    line-height: 11.2px;
    text-align: center;
    white-space: normal;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 195px;
}

.orc-melee-weapon .melee-weapon-Op5bx8 {
    background-color: transparent;
    height: 75px;
    left: 177px;
    position: absolute;
    top: 563px;
    width: 75px
}

.orc-melee-weapon .frame-19-Op5bx8 {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    gap: 8px;
    height: 29px;
    position: absolute;
    top: 787px;
    width: 100%;
    justify-content: center
}

.orc-melee-weapon .group-9-WQV2wA {
    height: 30px;
    margin-bottom: -1px;
    width: 30px
}

.orc-melee-weapon .gold-xS7xA3 {
    height: 30px;
    width: 30px
}

.orc-melee-weapon .title-WQV2wA {
    background-color: transparent;
    color: #fffefc;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
    height: 22.66552734375px;
    letter-spacing: -.48px;
    line-height: 26.4px;
    margin-right: -9.4px;
    margin-top: -1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: auto
}

.orc-melee-weapon .frame-25-Op5bx8 {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    gap: 54px;
    left: 59px;
    position: absolute;
    top: 652px
}

.orc-melee-weapon .melee-weapon-AYXywa {
    background-color: transparent;
    color: #fffefc;
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
    height: 32px;
    letter-spacing: -.48px;
    line-height: 26.4px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 310.2237548828125px
}

.orc-melee-weapon .frame-24-AYXywa {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    position: relative;
    top: 15px;
}

.orc-melee-weapon .raid-income-per-hour-kBTGjp {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.14px;
    line-height: 7.7px;
    margin-top: -1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content
}

.orc-melee-weapon .frame-4-kBTGjp {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 3px;
    position: relative;
    top: -5px;
}

.orc-melee-weapon .group-9-37ez8N {
    height: 20px;
    width: 20px
}

.orc-melee-weapon .gold-ZIYg15 {
    height: 20px;
    width: 20px
}

.orc-melee-weapon .x123-37ez8N {
    background-color: transparent;
    color: var(--white);
    font-family: 'Times New Roman', Times, serif !important;
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.22px;
    line-height: 12.1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content
}

.orc-melee-weapon .close-button-Op5bx8 {
    background-color: transparent;
    cursor: pointer;
    height: 25px;
    left: 377px;
    position: absolute;
    top: 518px;
    width: 25px
}

.orc-melee-weapon .gold {
    background-color: transparent;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0
}

.orc-melee-weapon .group-9 {
    background-color: transparent;
    position: relative
}

.skill-buff .rectangle-11-IxqKwS {
    background-color: #32363C;
}

.skill-buff .buy-button-IxqKwS, 
.skill-buff .rectangle-2-IxqKwS {
    background-color: #FE881C;
}

.skill-buff .rectangle-3-Op5bx8 {
    background: linear-gradient(180deg, #A0A092 0, #F3D213 100%);
}
