:root {
    --black: #000000;
    --white: #ffffff;

    --font-size-l: 30px !important;
    --font-size-m: 14px !important;

    --font-family-rosarivo: "Rosarivo", Helvetica;
    --font-family-roboto: "Rosarivo", Helvetica;
}

.rosarivo-normal-white-17px {
    color: var(--white);
    font-family: var(--font-family-rosarivo);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.faction-selection {
    background-color: transparent;
    height: 100vh;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
}

.faction-selection .rectangle-3-YXzsPW {
    background-color: var(--black);
    border: 1px solid;
    border-color: var(--black);
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.faction-selection .faction-selection-background-YXzsPW {
    background-color: transparent;
    height: 100vh;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.faction-selection .title-YXzsPW {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-rosarivo);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 19px;
    letter-spacing: -0.60px;
    line-height: 33.0px;
    position: absolute;
    text-align: left;
    text-shadow: 0px 4px 4px #000000;
    top: 73px;
    width: 389px;
}

.faction-selection .faction-selection-logo-YXzsPW {
    background-color: transparent;
    height: 266px;
    left: 80px;
    position: absolute;
    top: 47px;
    width: 265px;
}

.faction-selection .human-selection-YXzsPW {
    background-color: transparent;
    height: 72px;
    left: 42px;
    position: absolute;
    top: 250px;
    width: 163px;
}

.faction-selection .human-selection-4aFvwT {
    align-items: flex-start;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 163px;
}

.faction-selection .rectangle-12-JrxMsg {
    cursor: pointer;
}

.faction-selection .humans-qKcTbw {
    background-color: transparent;
    height: 16px;
    letter-spacing: -0.34px;
    line-height: 18.7px;
    margin-left: -1.00px;
    margin-top: -2.00px;
    position: relative;
    text-align: left;
    text-shadow: 0px 4px 4px #00000040;
    white-space: nowrap;
    width: 121px;
}

.faction-selection .orc-selection-YXzsPW {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 228px;
    position: absolute;
    top: 250px;
    width: 163px;
    height: 72px;
}

.faction-selection .rectangle-12-9GSYS9 {
    cursor: pointer;
}

.faction-selection .orcs-nCgnnm {
    background-color: transparent;
    height: 16px;
    letter-spacing: -0.34px;
    line-height: 18.7px;
    margin-left: -1.00px;
    margin-top: -2.00px;
    position: relative;
    text-align: left;
    text-shadow: 0px 4px 4px #00000040;
    white-space: nowrap;
    width: 121px;
}

.faction-selection .angel-selection-YXzsPW {
    align-items: flex-start;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 42px;
    position: absolute;
    top: 340px;
    width: 163px;
    height: 72px;
}

.faction-selection .angels-pvNINR {
    background-color: transparent;
    height: 16px;
    letter-spacing: -0.34px;
    line-height: 18.7px;
    margin-left: -1.00px;
    margin-top: -2.00px;
    position: relative;
    text-align: left;
    text-shadow: 0px 4px 4px #00000040;
    white-space: nowrap;
    width: 121px;
}

.faction-selection .demon-selection-YXzsPW {
    align-items: flex-start;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 228px;
    position: absolute;
    top: 340px;
    width: 163px;
    height: 72px;
}

.faction-selection .demons-hXA5hE {
    background-color: transparent;
    height: 16px;
    letter-spacing: -0.34px;
    line-height: 18.7px;
    margin-left: -1.00px;
    margin-top: -2.00px;
    position: relative;
    text-align: left;
    text-shadow: 0px 4px 4px #00000040;
    white-space: nowrap;
    width: 121px;
}

.faction-selection .elf-selection-YXzsPW {
    align-items: flex-start;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 42px;
    position: absolute;
    top: 430px;
    width: 163px;
    height: 72px;
}

.faction-selection .rectangle-11-5Us6sz {
    background-color: transparent;
    height: 142px;
    left: -35px;
    object-fit: cover;
    position: absolute;
    top: -35px;
    width: 233px;
}

.faction-selection .elves-c831ay {
    background-color: transparent;
    height: 16px;
    letter-spacing: -0.34px;
    line-height: 18.7px;
    margin-left: -1.00px;
    margin-top: -2.00px;
    position: relative;
    text-align: left;
    text-shadow: 0px 4px 4px #00000040;
    white-space: nowrap;
    width: 121px;
}

.faction-selection .undead-selection-YXzsPW {
    align-items: flex-start;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 228px;
    position: absolute;
    top: 430px;
    width: 163px;
    height: 72px;
}

.faction-selection .undeads-3gmlAw {
    background-color: transparent;
    height: 16px;
    letter-spacing: -0.34px;
    line-height: 18.7px;
    margin-left: -1.00px;
    margin-top: -2.00px;
    position: relative;
    text-align: left;
    text-shadow: 0px 4px 4px #00000040;
    white-space: nowrap;
    width: 121px;
}

.faction-selection .frame-21 {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    height: 16px;
    left: 42px;
    position: absolute;
    top: 28px;
}

.faction-selection .group-18 {
    background-color: transparent;
    height: 72px;
    position: relative;
    width: 163px;
}

.faction-selection .rectangle-12 {
    background-color: transparent;
    height: 142px;
    left: -35px;
    object-fit: cover;
    position: absolute;
    top: -35px;
    width: 233px;
}

.faction-selection .x9b3af883-354d-4413-bf7f-37baaad350d0-1 {
    background-color: transparent;
    height: 40px;
    left: 3px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 37px;
}


.human-selection {
  background-color: transparent;
  height: 100vh;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
  position: absolute;
  top: 0;
}

.human-selection .group-31-qDvr60 {
  background-color: transparent;
  height: 932px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 428px;
}

.human-selection .rectangle-3-drvqzZ {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(13, 44, 171) 100%);
  background-color: transparent;
  height: 301px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 428px;
}

.human-selection .rectangle-4-drvqzZ {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(13, 44, 171) 100%);
  background-color: transparent;
  height: 466px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 466px;
  transform: rotate(-180deg);
  width: 428px;
}

.human-selection .group-28-drvqzZ {
  background-color: transparent;
  height: 443px;
  left: 0px;
  position: absolute;
  top: 198px;
  width: 428px;
}

.human-selection .rectangle-2-lfHp5b {
  background-color: #0c2cab;
  border-radius: 50px;
  height: 443px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 428px;
}

.human-selection .rectangle-11-lfHp5b {
  background-color: transparent;
  height: 439px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 428px;
}

.human-selection .human-selection-button-lfHp5b {
  align-items: center;
  background-color: #0c2cab;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 35px;
  justify-content: center;
  left: 30px;
  padding: 10px;
  position: absolute;
  top: 370px;
  width: 350px;
}

.human-selection .select-mYlsYp {
  background-color: transparent;
  color: #ffffff;
  font-family: var(--font-family-roboto);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.32px;
  line-height: 17.6px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.human-selection .frame-25-drvqzZ {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 54px;
  left: 59px;
  position: absolute;
  top: 331px;
}

.human-selection .title-qEjfPb {
  background-color: transparent;
  color: #fffefc;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: 32px;
  letter-spacing: -0.48px;
  line-height: 26.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  width: 310.2237548828125px;
}

.human-selection .x9b3af883-354d-4413-bf7f-37baaad350d0-1-drvqzZ {
  background-color: transparent;
  height: 100px;
  left: 172px;
  object-fit: cover;
  position: absolute;
  top: 219px;
  width: 92px;
}

.human-selection .frame-26-drvqzZ {
  background-color: #31353b;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  height: 195px;
  left: 30px;
  opacity: 0.7;
  position: absolute;
  top: 363px;
  width: 368px;
}

.human-selection .humans-renowned-for-orkOTD {
  background-color: transparent;
  color: #ffffff;
  font-family: var(--font-family-roboto);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 5px;
  letter-spacing: -0.28px;
  line-height: 15.4px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 358px;
}

.human-selection .close-button-drvqzZ {
  background-color: transparent;
  height: 25px;
  left: 377px;
  position: absolute;
  top: 231px;
  width: 25px;
}

.human-selection .exclude-JMJYJ0 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 25px;
}