:root {
    --black: #000000;
    --outer-space: #31353b;
    --white: #ffffff;

    --font-size-l: 11px;
    --font-size-m: 9px;
    --font-size-s: 8.2px;
    --font-size-xl: 12px !important;
    --font-size-xs: 7px;
    --font-size-xxl: 40px;

    --font-family-roboto: "Roboto", Helvetica;
}

.roboto-semi-bold-white-9px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
}

.roboto-semi-bold-white-11px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600;
}

.roboto-normal-white-9px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.roboto-medium-white-7px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 500;
}

.roboto-semi-bold-white-8-2px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 600;
}

.roboto-semi-bold-white-12px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 600;
}

.roboto-medium-white-9px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
}

.orc-hero {
    background-color: #191919;
    min-height: 100vh;
    left: 0px;
    overflow: auto;
    position: relative;
    top: 0px;
    width: 100%;
}

.orc-hero .frame-30-zHO16R {
    background-color: transparent;
    min-height: 100vh;
    position: absolute;
    top: -107px;
    width: 100vw;
}

.orc-hero .frame-10-lvJUvn {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    gap: 8px;
    position: absolute;
    top: 209px;
    width: 100%;
    justify-content: center;
    z-index: 3;
}

.orc-hero .group-9-XsTlFn {
    height: 42px;
    width: 42px;
}

.orc-hero .group-8-oc1ZZS {
    left: 0px;
    top: 0px;
    width: 42px;
}

.orc-hero .pngtreeglossy-golden-coin-icon_6866281-1-UAjQ2R {
    background-color: transparent;
    height: 42px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 42px;
}

.orc-hero .title-XsTlFn {
    background-color: transparent;
    color: #fffefc;
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
    height: 46px;
    letter-spacing: -0.80px;
    line-height: 44.0px;
    margin-right: -13.00px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: auto;
}

.orc-hero .base-hero-bar-lvJUvn {
    align-items: center;
    background-color: var(--outer-space);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    left: 21px;
    padding: 4px 0px;
}

.orc-hero .frame-16-cZXoCo {
    padding: 3px 12px;
}

.orc-hero .frame-15-wNWTLI {
    background-color: transparent;
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.orc-hero .hero-n6d0Ud {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
    font-family: "Rosarivo", Helvetica !important;
}

.orc-hero .frame-20-wNWTLI {
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.orc-hero .soldier-kDvytW {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-hero .frame-19-wNWTLI {
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
    justify-content: center;
    padding: 10px 8px;
}

.orc-hero .armory-MjOaOq {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-hero .frame-18-wNWTLI {
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.orc-hero .spell-KYkoHY {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-hero .frame-17-wNWTLI {
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.orc-hero .artifact-H13YWN {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-hero .frame-16-wNWTLI {
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.orc-hero .peon-LSCL1d {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-hero .hero-equp-select-lvJUvn {
    align-items: flex-start;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 22px;
    justify-content: center;
    left: 0px;
    overflow: hidden;
    padding: 17px 0px;
    position: absolute;
    top: 300px;
    width: 100vw;
    z-index: 3;
}

.orc-hero .property-11-3peoxU {
    background-color: transparent;
    cursor: pointer;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-hero .frame-22-qGPTjX {
    display: flex;
    height: 24px;
    width: 104px;
}

.orc-hero .vector-9-T7RRcN {
    height: 24.36920166015625px;
}

.orc-hero .group-9-MZoG0a {
    height: 20px;
    width: 20px;
}

.orc-hero .gold-klRr92 {
    height: 20px;
    width: 20px;
}

.orc-hero .melee-weapon-KD455G {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-hero .frame-20-KD455G {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-hero .frame-19-CSoEXl {
    gap: 2.237287998199463px;
}

.orc-hero .group-9-vdMDfX {
    height: 16px;
    width: 16px;
}

.orc-hero .gold-qniZba {
    height: 16px;
    width: 16px;
}

.orc-hero .spirit-shield-qGPTjX {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 11px;
    width: 45px;
}
.orc-hero .frame-15 {
    align-items: center;
    position: relative;
}

.orc-hero .frame-16 {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.orc-hero .frame-17 {
    align-items: center;
    position: relative;
}

.orc-hero .frame-18 {
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.orc-hero .frame-19 {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.orc-hero .frame-20 {
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.orc-hero .frame-21 {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 52px;
    padding: 0px 4px;
    position: absolute;
    top: 15px;
}

.orc-hero .frame-22 {
    align-items: center;
    background-color: transparent;
    gap: 12px;
    left: 21px;
    position: absolute;
    top: 74px;
}

.orc-hero .frame-4 {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 3px;
    position: relative;
}

.orc-hero .gold {
    background-color: transparent;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
}

.orc-hero .group {
    background-color: transparent;
    height: 42px;
    margin-bottom: -2.00px;
    position: relative;
    transform: rotate(180deg);
}

.orc-hero .group-18 {
    background-color: transparent;
    height: 108px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 180px;
}

.orc-hero .group-8 {
    background-color: transparent;
    height: 42px;
    position: relative;
}

.orc-hero .group-9 {
    background-color: transparent;
    position: relative;
}

.orc-hero .lvl-0 {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
    font-family: 'Times New Roman', Times, serif !important;
}

.orc-hero .raid-income-per-hour {
    background-color: transparent;
    letter-spacing: -0.14px;
    line-height: 7.7px;
    margin-top: -1.00px;
    opacity: 0.5;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-hero .rectangle-11 {
    background-color: var(--outer-space);
    border-radius: 15px;
    height: 108px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 180px;
}

.orc-hero .vector-8 {
    background-color: transparent;
    height: 1px;
    left: 0px;
    position: absolute;
    top: 67px;
    width: 180px;
}

.orc-hero .vector-9 {
    background-color: transparent;
    position: relative;
    width: 1px;
}

.orc-hero .x0 {
    background-color: transparent;
    letter-spacing: -0.16px;
    line-height: 9.0px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 8px !important;
}

.orc-hero .x15692-k {
    background-color: transparent;
    letter-spacing: -0.22px;
    line-height: 12.1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}