:root {
    --black: #000000;

    --font-size-l: 64px;
    --font-size-m: 30px;

    --font-family-rosarivo: "Rosarivo", Helvetica;
}

.loading {
    background-color: #191919;
    cursor: pointer;
    height: 932px;
    overflow: hidden;
    position: relative;
    width: 430px;
}

.loading .rectangle-3-D9VNiZ {
    background-color: var(--black);
    border: 1px solid;
    border-color: var(--black);
    height: 932px;
    left: 0;
    position: absolute;
    top: 0;
    width: 430px;
}

.loading .loading-background-D9VNiZ {
    background-color: transparent;
    height: 931px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 430px;
}

.loading .noctian-war-for-the-throne-D9VNiZ {
    background-color: transparent;
    color: #ffffff;
    font-family: var(--font-family-rosarivo);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 19px;
    letter-spacing: -0.60px;
    line-height: 33.0px;
    position: absolute;
    text-align: left;
    text-shadow: 0 4px 4px #000000;
    top: 73px;
    width: 389px;
}

.loading .loading-logo-D9VNiZ {
    background-color: transparent;
    height: 283px;
    left: 75px;
    position: absolute;
    top: 189px;
    width: 281px;
}

.loading .title-D9VNiZ {
    -webkit-text-stroke: 1px var(--black);
    background-color: transparent;
    color: #ffffff;
    font-family: var(--font-family-rosarivo);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 86px;
    letter-spacing: -1.28px;
    line-height: 70.4px;
    position: absolute;
    text-align: left;
    top: 798px;
    white-space: nowrap;
    width: 278px;
}