@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Roboto:500,700,600,400");

.screen textarea:focus,
.screen input:focus {
    outline: none;
}

.screen * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.screen div {
    -webkit-text-size-adjust: none;
}

.component-wrapper a {
    display: contents;
    pointer-events: auto;
    text-decoration: none;
}

.component-wrapper * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    pointer-events: none;
}

.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
    pointer-events: auto;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
    visibility: hidden !important;
}

.screen a {
    display: contents;
    text-decoration: none;
}

.full-width-a {
    width: 100%;
}

.full-height-a {
    height: 100%;
}

.container-center-vertical {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    pointer-events: none;
}

.container-center-vertical>* {
    flex-shrink: 0;
    pointer-events: auto;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal>* {
    flex-shrink: 0;
    pointer-events: auto;
}

.auto-animated div {
    --z-index: -1;
    opacity: 0;
    position: absolute;
}

.auto-animated input {
    --z-index: -1;
    opacity: 0;
    position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
    opacity: 1;
}

.overlay-base {
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.overlay-base.animate-appear {
    align-items: center;
    animation: reveal 0.3s ease-in-out 1 normal forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.overlay-base.animate-disappear {
    animation: reveal 0.3s ease-in-out 1 reverse forwards;
    display: block;
    opacity: 1;
    pointer-events: none;
}

.overlay-base.animate-disappear * {
    pointer-events: none;
}

@keyframes reveal {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.animate-nodelay {
    animation-delay: 0s;
}

.align-self-flex-start {
    align-self: flex-start;
}

.align-self-flex-end {
    align-self: flex-end;
}

.align-self-flex-center {
    align-self: center;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.valign-text-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

input:focus {
    outline: none;
}

.listeners-active,
.listeners-active * {
    pointer-events: auto;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
}

.listeners-active-click,
.listeners-active-click * {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --outer-space: #31353b;
    --white: #ffffff;

    --font-size-l: 11px;
    --font-size-m: 9px;
    --font-size-s: 8.2px;
    --font-size-xl: 12px;
    --font-size-xs: 7px;
    --font-size-xxl: 40px;

    --font-family-roboto: "Roboto", Helvetica;
}

.roboto-semi-bold-white-9px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
}

.roboto-semi-bold-white-11px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600;
}

.roboto-normal-white-9px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.roboto-medium-white-7px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 500;
}

.roboto-semi-bold-white-8-2px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 600;
}

.roboto-semi-bold-white-12px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 600;
}

.roboto-medium-white-9px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
}

.orc-spell {
    background-color: #191919;
    height: 2031px;
    left: 0px;
    overflow: hidden;
    position: relative;
    top: 0px;
    width: 430px;
}

.orc-spell .frame-30-3LxCsq {
    background-color: transparent;
    height: 2000px;
    left: 2px;
    position: absolute;
    top: -107px;
    width: 428px;
}

.orc-spell .rectangle-3-CZ9KTG {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(209.00000274181366, 0, 28.000000230968) 100%);
    background-color: transparent;
    height: 296px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 428px;
}

.orc-spell .rectangle-1-CZ9KTG {
    background: linear-gradient(180deg, rgb(42.000001296401024, 63.000000044703484, 41.00000135600567) 0%, rgb(192.00000375509262, 177.0000046491623, 4.000000236555934) 100%);
    background-color: transparent;
    border-radius: 50px 50px 0px 0px;
    height: 1974px;
    left: 0px;
    position: absolute;
    top: 164px;
    width: 428px;
}

.orc-spell .orc-banner-CZ9KTG {
    background-color: transparent;
    height: 428px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: -34px;
    width: 428px;
}

.orc-spell .frame-10-CZ9KTG {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    gap: 8px;
    left: 117px;
    position: absolute;
    top: 209px;
    width: 193px;
}

.orc-spell .group-9-EtlqVb {
    height: 42px;
    width: 42px;
}

.orc-spell .group-8-ihxhkk {
    left: 0px;
    top: 0px;
    width: 42px;
}

.orc-spell .pngtreeglossy-golden-coin-icon_6866281-1-VaDfci {
    background-color: transparent;
    height: 42px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 42px;
}

.orc-spell .title-EtlqVb {
    background-color: transparent;
    color: #fffefc;
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
    height: 46px;
    letter-spacing: -0.80px;
    line-height: 44.0px;
    margin-right: -13.00px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: 156px;
}

.orc-spell .base-spell-bar-CZ9KTG {
    align-items: center;
    background-color: var(--outer-space);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    left: 21px;
    padding: 4px 0px;
    position: absolute;
    top: 258px;
}

.orc-spell .frame-16-zwa0pt {
    padding: 3px 12px;
}

.orc-spell .frame-15-CThten {
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.orc-spell .hero-FdB7Iu {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-CThten {
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.orc-spell .soldier-lmBDPh {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-19-CThten {
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
    justify-content: center;
    padding: 10px 8px;
}

.orc-spell .armory-zIWONG {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-18-CThten {
    background-color: #0b0b0c80;
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.orc-spell .spell-yIhH6a {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-17-CThten {
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.orc-spell .artifact-cYK38B {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-16-CThten {
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.orc-spell .peon-zmKllz {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .spell-select-CZ9KTG {
    align-items: flex-start;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 22px;
    justify-content: center;
    left: 0px;
    overflow: hidden;
    padding: 17px 12px;
    position: absolute;
    top: 300px;
    width: 428px;
}

.orc-spell .property-41-LXSbIk {
    background-color: transparent;
    cursor: pointer;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-hcV3Cl {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-xilcpX {
    left: 0px;
}

.orc-spell .vector-8-xilcpX {
    left: 0px;
}

.orc-spell .frame-22-xilcpX {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-vDEmt4 {
    height: 24.36920166015625px;
}

.orc-spell .group-9-LPRIld {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-rIwpok {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-xilcpX {
    left: 53px;
}

.orc-spell .warcry-energy-WnnBxx {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-WnnBxx {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-i0jTTx {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-ZoJNzV {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-tXwTex {
    height: 16px;
    width: 16px;
}

.orc-spell .warcry-energy-xilcpX {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 11px;
    width: 45px;
}

.orc-spell .property-42-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-AD9rz3 {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-MDSkQk {
    left: 0px;
}

.orc-spell .vector-8-MDSkQk {
    left: 0px;
}

.orc-spell .frame-22-MDSkQk {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-YVHhct {
    height: 24.36920166015625px;
}

.orc-spell .group-9-ItbHhe {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-wVECA9 {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-MDSkQk {
    left: 54px;
}

.orc-spell .green-tide-HD60qT {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-HD60qT {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-DPxsc8 {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-OLUPkO {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-s3dDYX {
    height: 16px;
    width: 16px;
}

.orc-spell .green-tide-MDSkQk {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 11px;
    width: 45px;
}

.orc-spell .property-43-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-WwKHfH {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-txLGxR {
    left: 0px;
}

.orc-spell .vector-8-txLGxR {
    left: 0px;
}

.orc-spell .frame-22-txLGxR {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-FDxO42 {
    height: 24.36920166015625px;
}

.orc-spell .group-9-tdsAYq {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-iB7ccC {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-txLGxR {
    left: 53px;
}

.orc-spell .rock-lobber-ba93v4 {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-ba93v4 {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-gtu6Ph {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-m26bR4 {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-G01SyV {
    height: 16px;
    width: 16px;
}

.orc-spell .rock-lobber-txLGxR {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 11px;
    width: 45px;
}

.orc-spell .property-44-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-lGzgYr {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-Mey4JM {
    left: 0px;
}

.orc-spell .vector-8-Mey4JM {
    left: 0px;
}

.orc-spell .frame-22-Mey4JM {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-ZC1wvU {
    height: 24.36920166015625px;
}

.orc-spell .group-9-7Cxl6z {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-tfLxYe {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-Mey4JM {
    left: 54px;
}

.orc-spell .firestorm-1xBMBo {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-1xBMBo {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-YXVNx6 {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-6nNNPx {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-Tfzuvp {
    height: 16px;
    width: 16px;
}

.orc-spell .firestorm-Mey4JM {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 11px;
    width: 45px;
}

.orc-spell .property-45-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-wPsBnT {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-Xn1x8j {
    left: 0px;
}

.orc-spell .vector-8-Xn1x8j {
    left: 0px;
}

.orc-spell .frame-22-Xn1x8j {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-qbTUNx {
    height: 24.36920166015625px;
}

.orc-spell .group-9-adojAv {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-v8kzg1 {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-Xn1x8j {
    left: 53px;
}

.orc-spell .blood-boil-vrEep1 {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-vrEep1 {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-nxtWCx {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-8rreKI {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-p7xe20 {
    height: 16px;
    width: 16px;
}

.orc-spell .blood-boil-Xn1x8j {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 12px;
    width: 45px;
}

.orc-spell .property-46-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-pcNP0o {
    left: -1px;
    width: 181px;
}

.orc-spell .rectangle-11-tc7viD {
    left: 1px;
}

.orc-spell .vector-8-tc7viD {
    left: 1px;
}

.orc-spell .frame-22-tc7viD {
    display: flex;
    height: 24px;
    left: 22px;
    width: 104px;
}

.orc-spell .vector-9-agGYk5 {
    height: 24.36920166015625px;
}

.orc-spell .group-9-M8uu15 {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-FFUu9x {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-tc7viD {
    left: 55px;
}

.orc-spell .ironhide-aura-2FjZi6 {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-2FjZi6 {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-xvoimD {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-ixdh4A {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-z5yjOv {
    height: 16px;
    width: 16px;
}

.orc-spell .ironhide-aura-tc7viD {
    background-color: transparent;
    height: 55px;
    left: 0px;
    position: absolute;
    top: 14px;
    width: 55px;
}

.orc-spell .property-47-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-RW7JsW {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-inF9Af {
    left: 0px;
}

.orc-spell .vector-8-inF9Af {
    left: 0px;
}

.orc-spell .frame-22-inF9Af {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-xcRRRP {
    height: 24.36920166015625px;
}

.orc-spell .group-9-W5AmYx {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-pLB2q7 {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-inF9Af {
    left: 53px;
}

.orc-spell .spirit-shield-FY7K2t {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-FY7K2t {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-L3LMx5 {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-q64Da0 {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-WYYtfu {
    height: 16px;
    width: 16px;
}

.orc-spell .spirit-shield-inF9Af {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 11px;
    width: 45px;
}

.orc-spell .property-48-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-Nzqmlo {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-fcZ7QE {
    left: 0px;
}

.orc-spell .vector-8-fcZ7QE {
    left: 0px;
}

.orc-spell .frame-22-fcZ7QE {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-Rz1iE4 {
    height: 24.36920166015625px;
}

.orc-spell .group-9-8M8YCS {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-kZxLB3 {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-fcZ7QE {
    left: 54px;
}

.orc-spell .troll-regeneration-Gklha6 {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-Gklha6 {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-h8d3vY {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-ciUmEH {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-xIgxvr {
    height: 16px;
    width: 16px;
}

.orc-spell .troll-regeneration-fcZ7QE {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 11px;
    width: 45px;
}

.orc-spell .property-49-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-aT6Ggj {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-HMxtSc {
    left: 0px;
}

.orc-spell .vector-8-HMxtSc {
    left: 0px;
}

.orc-spell .frame-22-HMxtSc {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-KlixAP {
    height: 24.36920166015625px;
}

.orc-spell .group-9-LdLy9O {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-P5qJyg {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-HMxtSc {
    left: 53px;
}

.orc-spell .ground-slam-ceisAE {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-ceisAE {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-SPyuwB {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-BQ81uW {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-m9Eg6G {
    height: 16px;
    width: 16px;
}

.orc-spell .ground-slam-HMxtSc {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 12px;
    width: 45px;
}

.orc-spell .property-410-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-pxdwbk {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-vmxwiO {
    left: 0px;
}

.orc-spell .vector-8-vmxwiO {
    left: 0px;
}

.orc-spell .frame-22-vmxwiO {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-JBReSd {
    height: 24.36920166015625px;
}

.orc-spell .group-9-fnHj7L {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-xoxfai {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-vmxwiO {
    left: 54px;
}

.orc-spell .war-chant-OksfOn {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-OksfOn {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-MkXw9g {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-58ABlL {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-trRtJO {
    height: 16px;
    width: 16px;
}

.orc-spell .war-chant-vmxwiO {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 12px;
    width: 45px;
}

.orc-spell .property-411-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-8eYyJb {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-6S3U1Q {
    left: 0px;
}

.orc-spell .vector-8-6S3U1Q {
    left: 0px;
}

.orc-spell .frame-22-6S3U1Q {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-q5aBuH {
    height: 24.36920166015625px;
}

.orc-spell .group-9-aTfKOV {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-IbeyRr {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-6S3U1Q {
    left: 53px;
}

.orc-spell .feral-speed-cl2XyM {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-cl2XyM {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-mqDO2c {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-HeiRb2 {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-EniazN {
    height: 16px;
    width: 16px;
}

.orc-spell .feral-speed-6S3U1Q {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 12px;
    width: 45px;
}

.orc-spell .property-412-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-mY2zZt {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-fHmH6N {
    left: 0px;
}

.orc-spell .vector-8-fHmH6N {
    left: 0px;
}

.orc-spell .frame-22-fHmH6N {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-DJx7lj {
    height: 24.36920166015625px;
}

.orc-spell .group-9-hSx6QE {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-S3hXbs {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-fHmH6N {
    left: 54px;
}

.orc-spell .blood-scent-oPCavf {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-oPCavf {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-BqEYzS {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-h22crM {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-yUVC58 {
    height: 16px;
    width: 16px;
}

.orc-spell .blood-scent-fHmH6N {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 12px;
    width: 45px;
}

.orc-spell .property-413-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-aIoyUv {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-b9S3p7 {
    left: 0px;
}

.orc-spell .vector-8-b9S3p7 {
    left: 0px;
}

.orc-spell .frame-22-b9S3p7 {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-qd4h7x {
    height: 24.36920166015625px;
}

.orc-spell .group-9-xvBgUc {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-dPKIxg {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-b9S3p7 {
    left: 53px;
}

.orc-spell .shamanistic-ward-rDz5IQ {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-rDz5IQ {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-CrdUQ3 {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-kQxjvr {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-uxQXz2 {
    height: 16px;
    width: 16px;
}

.orc-spell .shamanistic-ward-b9S3p7 {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 13px;
    width: 45px;
}

.orc-spell .property-414-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-Ox5hmI {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-7BJoT1 {
    left: 0px;
}

.orc-spell .vector-8-7BJoT1 {
    left: 0px;
}

.orc-spell .frame-22-7BJoT1 {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-itexZx {
    height: 24.36920166015625px;
}

.orc-spell .group-9-cme9qw {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-jXDhxs {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-7BJoT1 {
    left: 54px;
}

.orc-spell .call-of-the-wild-BBnbq6 {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-BBnbq6 {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-APVln2 {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-NQ0Wxc {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-lRRxeD {
    height: 16px;
    width: 16px;
}

.orc-spell .call-of-the-wild-7BJoT1 {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 13px;
    width: 45px;
}

.orc-spell .property-415-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-TciO4I {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-mZCdxm {
    left: 0px;
}

.orc-spell .vector-8-mZCdxm {
    left: 0px;
}

.orc-spell .frame-22-mZCdxm {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-xxxTW4 {
    height: 24.36920166015625px;
}

.orc-spell .group-9-9ceS9a {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-E2TKZl {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-mZCdxm {
    left: 53px;
}

.orc-spell .vision-quest-3oADEA {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-3oADEA {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-emSHQi {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-y8v3YS {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-gp8awr {
    height: 16px;
    width: 16px;
}

.orc-spell .vision-quest-mZCdxm {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 12px;
    width: 45px;
}

.orc-spell .property-416-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-oBexOA {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-8xmv7h {
    left: 0px;
}

.orc-spell .vector-8-8xmv7h {
    left: 0px;
}

.orc-spell .frame-22-8xmv7h {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-TLbhQK {
    height: 24.36920166015625px;
}

.orc-spell .group-9-v36xjX {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-xx1Yut {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-8xmv7h {
    left: 54px;
}

.orc-spell .enfeeblement-aVjFtp {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-aVjFtp {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-NHSjco {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-5iqspE {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-8zTeCx {
    height: 16px;
    width: 16px;
}

.orc-spell .enfeeblement-8xmv7h {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 12px;
    width: 45px;
}

.orc-spell .property-417-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-0HLhmA {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-kGi3PS {
    left: 0px;
}

.orc-spell .vector-8-kGi3PS {
    left: 0px;
}

.orc-spell .frame-22-kGi3PS {
    display: inline-flex;
    left: 21px;
}

.orc-spell .vector-9-BscMu6 {
    height: 24.36920166015625px;
}

.orc-spell .group-9-xui3D1 {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-yemsdx {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-kGi3PS {
    left: 53px;
}

.orc-spell .vulnerability-kN9ziW {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-kN9ziW {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-tEDEmr {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-xIIsz5 {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-fx9xdt {
    height: 16px;
    width: 16px;
}

.orc-spell .vulnerability-kGi3PS {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 13px;
    width: 45px;
}

.orc-spell .property-418-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-dJ8rGh {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-p1g2wP {
    left: 0px;
}

.orc-spell .vector-8-p1g2wP {
    left: 0px;
}

.orc-spell .frame-22-p1g2wP {
    display: inline-flex;
    left: 21px;
}

.orc-spell .vector-9-vgTtzv {
    height: 24.36920166015625px;
}

.orc-spell .group-9-Bjd3FT {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-L2aJe1 {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-p1g2wP {
    left: 54px;
}

.orc-spell .confusion-Icvgoz {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-Icvgoz {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-lsZI29 {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-CqmPnj {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-xxeBgN {
    height: 16px;
    width: 16px;
}

.orc-spell .confusion-p1g2wP {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 13px;
    width: 45px;
}

.orc-spell .property-419-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-2xXySN {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-2P96iQ {
    left: 0px;
}

.orc-spell .vector-8-2P96iQ {
    left: 0px;
}

.orc-spell .frame-22-2P96iQ {
    display: inline-flex;
    left: 21px;
}

.orc-spell .vector-9-e40T1e {
    height: 24.36920166015625px;
}

.orc-spell .group-9-Q3Tevv {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-SxoZDQ {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-2P96iQ {
    left: 53px;
}

.orc-spell .rotting-touch-7L8zBn {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-7L8zBn {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-xvSLro {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-QVm0ox {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-92EmJd {
    height: 16px;
    width: 16px;
}

.orc-spell .rotting-touch-2P96iQ {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 13px;
    width: 45px;
}

.orc-spell .property-420-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-LOBJrl {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-rLKTb8 {
    left: 0px;
}

.orc-spell .vector-8-rLKTb8 {
    left: 0px;
}

.orc-spell .frame-22-rLKTb8 {
    display: inline-flex;
    left: 21px;
}

.orc-spell .vector-9-vbpKZO {
    height: 24.36920166015625px;
}

.orc-spell .group-9-WwuieT {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-9OaXAb {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-rLKTb8 {
    left: 54px;
}

.orc-spell .curse-of-weakness-HZTCib {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-HZTCib {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-1COXBL {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-BXgHXg {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-CHg0uR {
    height: 16px;
    width: 16px;
}

.orc-spell .curse-of-weakness-rLKTb8 {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 13px;
    width: 45px;
}

.orc-spell .property-421-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-oj9Pon {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-1dlQtZ {
    left: 0px;
}

.orc-spell .vector-8-1dlQtZ {
    left: 0px;
}

.orc-spell .frame-22-1dlQtZ {
    display: inline-flex;
    left: 21px;
}

.orc-spell .vector-9-yz1S9O {
    height: 24.36920166015625px;
}

.orc-spell .group-9-GVkx13 {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-VTeZTs {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-1dlQtZ {
    left: 53px;
}

.orc-spell .war-gods-might-vuVgri {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-vuVgri {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-s0n62c {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-kOfppx {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-UjgKsk {
    height: 16px;
    width: 16px;
}

.orc-spell .war-gods-might-1dlQtZ {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 12px;
    width: 45px;
}

.orc-spell .property-422-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-JTNZ57 {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-PSUAxR {
    left: 0px;
}

.orc-spell .vector-8-PSUAxR {
    left: 0px;
}

.orc-spell .frame-22-PSUAxR {
    display: inline-flex;
    left: 21px;
}

.orc-spell .vector-9-23fxoX {
    height: 24.36920166015625px;
}

.orc-spell .group-9-NBvFRc {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-FG5jl9 {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-PSUAxR {
    left: 54px;
}

.orc-spell .the-great-warcry-ZJRZkD {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-ZJRZkD {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-x44XTI {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-TaNOA2 {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-m9iZma {
    height: 16px;
    width: 16px;
}

.orc-spell .the-great-warcry-PSUAxR {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 12px;
    width: 45px;
}

.orc-spell .property-423-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-NISu2Q {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-CufaeA {
    left: 0px;
}

.orc-spell .vector-8-CufaeA {
    left: 0px;
}

.orc-spell .frame-22-CufaeA {
    display: inline-flex;
    left: 21px;
}

.orc-spell .vector-9-uio79N {
    height: 24.3692626953125px;
}

.orc-spell .group-9-8l68Rx {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-ByeAHA {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-CufaeA {
    left: 53px;
}

.orc-spell .rupturing-earth-zkiZMA {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-zkiZMA {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-WipPzr {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-fkLRLX {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-JJfdfx {
    height: 16px;
    width: 16px;
}

.orc-spell .rupturing-earth-CufaeA {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 13px;
    width: 45px;
}

.orc-spell .property-424-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-IxJSLU {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-fFxhpA {
    left: 0px;
}

.orc-spell .vector-8-fFxhpA {
    left: 0px;
}

.orc-spell .frame-22-fFxhpA {
    display: inline-flex;
    left: 21px;
}

.orc-spell .vector-9-GPP2EX {
    height: 24.3692626953125px;
}

.orc-spell .group-9-sRnlO8 {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-wOPdPl {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-fFxhpA {
    left: 54px;
}

.orc-spell .blood-moon-VfnxT1 {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-VfnxT1 {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-38VCVk {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-SIEvuP {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-VdiTUK {
    height: 16px;
    width: 16px;
}

.orc-spell .blood-moon-fFxhpA {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 13px;
    width: 45px;
}

.orc-spell .property-425-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-dnS8Q0 {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-vQjkNY {
    left: 0px;
}

.orc-spell .vector-8-vQjkNY {
    left: 0px;
}

.orc-spell .frame-22-vQjkNY {
    display: inline-flex;
    left: 21px;
}

.orc-spell .vector-9-Nr2lls {
    height: 24.3692626953125px;
}

.orc-spell .group-9-8jiECq {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-miggvW {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-vQjkNY {
    left: 53px;
}

.orc-spell .ancestral-fury-nIXS9K {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-nIXS9K {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-VSkqGR {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-iYAw5X {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-uANEQF {
    height: 16px;
    width: 16px;
}

.orc-spell .ancestral-fury-vQjkNY {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 12px;
    width: 45px;
}

.orc-spell .property-426-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-rFQA70 {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-82Rsy3 {
    left: 0px;
}

.orc-spell .vector-8-82Rsy3 {
    left: 0px;
}

.orc-spell .frame-22-82Rsy3 {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-aV8z4F {
    height: 24.3692626953125px;
}

.orc-spell .group-9-7A2XPB {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-liEgWZ {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-82Rsy3 {
    left: 54px;
}

.orc-spell .blood-sacrifice-ToytgN {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-ToytgN {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-ciJgTr {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-Z2rG8W {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-RQKrb3 {
    height: 16px;
    width: 16px;
}

.orc-spell .blood-sacrifice-82Rsy3 {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 12px;
    width: 45px;
}

.orc-spell .property-427-LXSbIk {
    background-color: transparent;
    height: 107.557861328125px;
    position: relative;
    width: 180px;
}

.orc-spell .group-18-roGPJx {
    left: 0px;
    width: 180px;
}

.orc-spell .rectangle-11-WIIxXT {
    left: 0px;
}

.orc-spell .vector-8-WIIxXT {
    left: 0px;
}

.orc-spell .frame-22-WIIxXT {
    display: flex;
    height: 24px;
    left: 21px;
    width: 104px;
}

.orc-spell .vector-9-ycAGAm {
    height: 24.3692626953125px;
}

.orc-spell .group-9-3TKflS {
    height: 20px;
    width: 20px;
}

.orc-spell .gold-kFk2rx {
    height: 20px;
    width: 20px;
}

.orc-spell .frame-21-WIIxXT {
    left: 54px;
}

.orc-spell .summon-greater-demon-zOOfzX {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .frame-20-zOOfzX {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.orc-spell .frame-19-zZWY4c {
    gap: 2.237287998199463px;
}

.orc-spell .group-9-SRYabS {
    height: 16px;
    width: 16px;
}

.orc-spell .gold-quuNhj {
    height: 16px;
    width: 16px;
}

.orc-spell .summon-greater-demon-WIIxXT {
    background-color: transparent;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 13px;
    width: 45px;
}

.orc-spell .general-base-bar-3LxCsq {
    background-color: transparent;
    height: 60px;
    left: 31px;
    position: fixed;
    top: 852px;
    width: 368px;
}

.orc-spell .frame-11-Gc37YR {
    align-items: center;
    background-color: var(--outer-space);
    border-radius: 12px;
    display: flex;
    gap: 6px;
    height: 60px;
    left: 0px;
    padding: 5px;
    position: relative;
    top: 0px;
    width: 368px;
}

.orc-spell .frame-13-Bi6bW1 {
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 50px;
    padding: 5px 10px;
    position: relative;
    width: 65px;
}

.orc-spell .group-H6K6BX {
    opacity: 0.6;
    width: 32px;
}

.orc-spell .x1-57-Cth5dW {
    background-color: transparent;
    height: 24px;
    left: -0px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    transform: rotate(-180deg);
    width: 30px;
}

.orc-spell .attack-Cth5dW {
    background-color: transparent;
    height: auto;
    left: 2px;
    letter-spacing: 0.00px;
    line-height: 9.9px;
    opacity: 0.5;
    position: absolute;
    text-align: left;
    top: 0px;
    transform: rotate(-180deg);
    white-space: nowrap;
    width: auto;
}

.orc-spell .frame-17-Bi6bW1 {
    background-color: #0b0b0b80;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 50px;
    padding: 5px 10px;
    width: 65px;
}

.orc-spell .group-Uhvf3f {
    width: 42px;
}

.orc-spell .base-QMX4Um {
    background-color: transparent;
    height: auto;
    left: 10px;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    position: absolute;
    text-align: left;
    top: 0px;
    transform: rotate(-180deg);
    white-space: nowrap;
    width: auto;
}

.orc-spell .x5-8-QMX4Um {
    background-color: transparent;
    height: 40px;
    left: 0px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 2px;
    transform: rotate(-180deg);
    width: 40px;
}

.orc-spell .frame-18-Bi6bW1 {
    background-color: transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 50px;
    padding: 5px 10px;
    width: 65px;
}

.orc-spell .group-xP5Dhe {
    opacity: 0.6;
    width: 32px;
}

.orc-spell .x6-501-QcwSzk {
    background-color: transparent;
    height: 30px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 12px;
    transform: rotate(-180deg);
    width: 30px;
}

.orc-spell .ladder-QcwSzk {
    background-color: transparent;
    height: auto;
    left: 2px;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    opacity: 0.5;
    position: absolute;
    text-align: left;
    top: 0px;
    transform: rotate(-180deg);
    white-space: nowrap;
    width: auto;
}

.orc-spell .frame-15-Bi6bW1 {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 50px;
    padding: 5px 10px;
    width: 65px;
}

.orc-spell .group-8-7lZYyC {
    margin-bottom: -2.00px;
    opacity: 0.6;
    width: 32px;
}

.orc-spell .x7-1-zJnpRo {
    background-color: transparent;
    height: 30px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 30px;
}

.orc-spell .war-zJnpRo {
    background-color: transparent;
    height: auto;
    left: 8px;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    opacity: 0.5;
    position: absolute;
    text-align: left;
    top: 32px;
    white-space: nowrap;
    width: auto;
}

.orc-spell .frame-14-Bi6bW1 {
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 50px;
    padding: 5px 10px;
    position: relative;
    width: 65px;
}

.orc-spell .group-5vWkBc {
    opacity: 0.6;
    width: 37px;
}

.orc-spell .treasure-Js9OIq {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    opacity: 0.5;
    position: absolute;
    text-align: left;
    top: 0px;
    transform: rotate(-180deg);
    white-space: nowrap;
    width: auto;
}

.orc-spell .x8-4-Js9OIq {
    background-color: transparent;
    height: 32px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    transform: rotate(-180deg);
    width: 32px;
}

.orc-spell .frame-15 {
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.orc-spell .frame-16 {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.orc-spell .frame-17 {
    align-items: center;
    position: relative;
}

.orc-spell .frame-18 {
    align-items: center;
    cursor: pointer;
    position: relative;
}

.orc-spell .frame-19 {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.orc-spell .frame-20 {
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.orc-spell .frame-21 {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 4px;
    position: absolute;
    top: 15px;
}

.orc-spell .frame-22 {
    align-items: center;
    background-color: transparent;
    gap: 12px;
    position: absolute;
    top: 74px;
}

.orc-spell .frame-4 {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 3px;
    position: relative;
}

.orc-spell .gold {
    background-color: transparent;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
}

.orc-spell .group {
    background-color: transparent;
    height: 42px;
    margin-bottom: -2.00px;
    position: relative;
    transform: rotate(180deg);
}

.orc-spell .group-18 {
    background-color: transparent;
    height: 108px;
    position: relative;
    top: 0px;
}

.orc-spell .group-8 {
    background-color: transparent;
    height: 42px;
    position: relative;
}

.orc-spell .group-9 {
    background-color: transparent;
    position: relative;
}

.orc-spell .lvl-0 {
    background-color: transparent;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .raid-income-per-hour {
    background-color: transparent;
    letter-spacing: -0.14px;
    line-height: 7.7px;
    margin-top: -1.00px;
    opacity: 0.5;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .rectangle-11 {
    background-color: var(--outer-space);
    border-radius: 15px;
    height: 108px;
    position: absolute;
    top: 0px;
    width: 180px;
}

.orc-spell .vector-8 {
    background-color: transparent;
    height: 1px;
    position: absolute;
    top: 67px;
    width: 180px;
}

.orc-spell .vector-9 {
    background-color: transparent;
    position: relative;
    width: 1px;
}

.orc-spell .x0 {
    background-color: transparent;
    letter-spacing: -0.16px;
    line-height: 9.0px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-spell .x15692-k {
    background-color: transparent;
    letter-spacing: -0.22px;
    line-height: 12.1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}