:root {
    --black: #000000;
    --outer-space: #31353b;
    --shark: #21242980;
    --white: #ffffff;

    --font-size-l: 24px;
    --font-size-m: 12px;
    --font-size-s: 11px;
    --font-size-xl: 30px;
    --font-size-xs: 9px;

    --font-family-roboto: "Roboto", Helvetica;
}

.roboto-semi-bold-white-12px {
    color: var(--white);
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 600;
}

.roboto-semi-bold-white-11px {
    color: var(--white);
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 11px !important;
    font-style: normal;
    font-weight: 600;
}

.roboto-medium-white-9px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 500;
}

.orc-war {
    background-color: #191919;
    height: 100vh;
    left: 0px;
    overflow: hidden;
    position: relative;
    top: 0px;
    width: 100vw;
}

.orc-war .frame-30-0Yffcq {
    background-color: transparent;
    height: 100vh;
    position: absolute;
    width: 100vw;
}

.orc-war .rectangle-3-gfXRIF {
    background: linear-gradient(180deg, #000000 70%, rgb(232, 225, 13) 100%);
    background-color: transparent;
    height: 57vh;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100vw;
}

.orc-war .rectangle-1-gfXRIF {
    background-color: transparent;
    height: 597px;
    left: 0px;
    position: absolute;
    top: 417px;
    width: 100vw;
}

.orc-war .war-banner-gfXRIF {
    background-color: transparent;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 37vh;
    width: 100vw;
}

.orc-war .group-27-gfXRIF {
    background-color: transparent;
    height: 28px;
    position: absolute;
    top: 0;
    width: 182px;
}

.orc-war .level-120-JSjuIa {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 39px;
    letter-spacing: -0.48px;
    line-height: 26.4px;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: 93px;
}

.orc-war .vector-8-JSjuIa {
    height: 1px;
    left: 0px;
    top: 28px;
    width: 180px;
}

.orc-war .group-16-gfXRIF {
    background-color: transparent;
    height: 41px;
    position: relative;
    top: 40px;
    width: 367px;
}

.orc-war .rectangle-10-sMV5yX {
    height: 41px;
    left: 0px;
    top: 0px;
    width: 367px;
}

.orc-war .frame-16-sMV5yX {
    height: 33px;
    left: 5px;
    top: 4px;
    width: 68px;
}

.orc-war .frame-17-vwdZa2 {
    background-color: #073e0380;
    border-radius: 5px;
    gap: 10px;
    justify-content: center;
    left: 55px;
    padding: 10px;
    position: absolute;
    top: 0px;
    width: 170px;
}

.orc-war .x9b3af883-354d-4413-bf7f-37baaad350d0-2-91MWnz {
    left: 31px;
    top: 3px;
}

.orc-war .frame-18-vwdZa2 {
    background-color: var(--shark);
    border-radius: 5px;
    gap: 10px;
    justify-content: center;
    left: 250px;
    padding: 10px;
    position: absolute;
    top: 0px;
    width: 87px;
}

.orc-war .group-8-qFxTKI {
    height: 14px;
    width: 13px;
}

.orc-war .x32102-b-qFxTKI {
    background-color: transparent;
    letter-spacing: -0.22px;
    line-height: 12.1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .frame-19-vwdZa2 {
    align-items: center;
    background-color: #ffe10080;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 0px;
    padding: 10px;
    position: absolute;
    width: 30px;
}

.orc-war .x1-RBnjXB {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .vector-8-sMV5yX {
    height: 31px;
    left: 49px;
    top: 6px;
    width: 1px;
}

.orc-war .vector-9-sMV5yX {
    left: 227px;
}

.orc-war .group-28-gfXRIF {
    background-color: transparent;
    height: 41px;
    left: 30px;
    position: absolute;
    top: 552px;
    width: 367px;
}

.orc-war .rectangle-10-2prqx0 {
    height: 41px;
    left: 0px;
    top: 0px;
    width: 367px;
}

.orc-war .frame-16-2prqx0 {
    height: 33px;
    left: 5px;
    top: 4px;
    width: 68px;
}

.orc-war .frame-17-xwffxI {
    background-color: #8a010180;
    border-radius: 5px;
    gap: 10px;
    justify-content: center;
    left: 55px;
    padding: 10px;
    position: absolute;
    top: -0px;
    width: 170px;
}

.orc-war .x9b3af883-354d-4413-bf7f-37baaad350d0-2-sAYRXY {
    left: 31px;
    top: 3px;
}

.orc-war .frame-18-xwffxI {
    background-color: var(--shark);
    border-radius: 5px;
    gap: 10px;
    justify-content: center;
    left: 250px;
    padding: 10px;
    position: absolute;
    top: 0px;
    width: 87px;
}

.orc-war .group-8-XJQBxg {
    height: 14px;
    width: 13px;
}

.orc-war .x31898-b-XJQBxg {
    background-color: transparent;
    letter-spacing: -0.22px;
    line-height: 12.1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .frame-19-xwffxI {
    align-items: center;
    background-color: #f0f0f080;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 0px;
    padding: 10px;
    position: absolute;
    width: 30px;
}

.orc-war .x2-pPna1m {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .vector-8-2prqx0 {
    height: 31px;
    left: 50px;
    top: 6px;
    width: 1px;
}

.orc-war .vector-9-2prqx0 {
    left: 228px;
}

.orc-war .group-29-gfXRIF {
    background-color: transparent;
    height: 41px;
    left: 30px;
    position: absolute;
    top: 593px;
    width: 367px;
}

.orc-war .rectangle-10-pxZmSF {
    height: 41px;
    left: 0px;
    top: 0px;
    width: 367px;
}

.orc-war .frame-16-pxZmSF {
    height: 33px;
    left: 5px;
    top: 4px;
    width: 68px;
}

.orc-war .frame-17-nOdZKA {
    background-color: #cad3e280;
    border-radius: 5px;
    gap: 10px;
    justify-content: center;
    left: 55px;
    padding: 10px;
    position: absolute;
    top: -0px;
    width: 170px;
}

.orc-war .x59193c11-9086-446e-a544-d8ed9f2e49e8-1-vXwrHo {
    left: 31px;
    top: 3px;
}

.orc-war .frame-18-nOdZKA {
    background-color: var(--shark);
    border-radius: 5px;
    gap: 10px;
    justify-content: center;
    left: 250px;
    padding: 10px;
    position: absolute;
    top: 0px;
    width: 87px;
}

.orc-war .group-8-5eYUB9 {
    height: 14px;
    width: 13px;
}

.orc-war .x31651-b-5eYUB9 {
    background-color: transparent;
    letter-spacing: -0.22px;
    line-height: 12.1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .frame-19-nOdZKA {
    align-items: center;
    background-color: #9b520080;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 0px;
    padding: 10px;
    position: absolute;
    width: 30px;
}

.orc-war .x3-lkT0WM {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .vector-8-pxZmSF {
    height: 31px;
    left: 50px;
    top: 6px;
    width: 1px;
}

.orc-war .vector-9-pxZmSF {
    left: 228px;
}

.orc-war .group-30-gfXRIF {
    background-color: transparent;
    height: 41px;
    left: 30px;
    position: absolute;
    top: 634px;
    width: 367px;
}

.orc-war .rectangle-10-k15xbP {
    height: 41px;
    left: 0px;
    top: 0px;
    width: 367px;
}

.orc-war .frame-16-k15xbP {
    height: 33px;
    left: 5px;
    top: 4px;
    width: 68px;
}

.orc-war .frame-17-5cxvYG {
    background-color: #0c9a0080;
    border-radius: 5px;
    gap: 10px;
    justify-content: center;
    left: 55px;
    padding: 10px;
    position: absolute;
    top: -0px;
    width: 170px;
}

.orc-war .x59193c11-9086-446e-a544-d8ed9f2e49e8-1-v93PyF {
    left: 31px;
    top: 3px;
}

.orc-war .frame-18-5cxvYG {
    background-color: var(--shark);
    border-radius: 5px;
    gap: 10px;
    justify-content: center;
    left: 250px;
    padding: 10px;
    position: absolute;
    top: 0px;
    width: 87px;
}

.orc-war .group-8-dE3Dxo {
    height: 14px;
    width: 13px;
}

.orc-war .x31427-b-dE3Dxo {
    background-color: transparent;
    letter-spacing: -0.22px;
    line-height: 12.1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .frame-19-5cxvYG {
    align-items: center;
    background-color: var(--shark);
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 0px;
    padding: 10px;
    position: absolute;
    width: 30px;
}

.orc-war .x4-4r96bM {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .vector-8-k15xbP {
    height: 31px;
    left: 50px;
    top: 6px;
    width: 1px;
}

.orc-war .vector-9-k15xbP {
    left: 228px;
}

.orc-war .group-32-gfXRIF {
    background-color: transparent;
    height: 41px;
    left: 30px;
    position: absolute;
    top: 674px;
    width: 367px;
}

.orc-war .rectangle-10-cgtvab {
    height: 41px;
    left: 0px;
    top: 0px;
    width: 367px;
}

.orc-war .frame-16-cgtvab {
    height: 33px;
    left: 5px;
    top: 4px;
    width: 68px;
}

.orc-war .frame-17-rKFCBu {
    background-color: #06337e80;
    border-radius: 5px;
    gap: 10px;
    justify-content: center;
    left: 55px;
    padding: 10px;
    position: absolute;
    top: -0px;
    width: 170px;
}

.orc-war .x59193c11-9086-446e-a544-d8ed9f2e49e8-1-3ZzqFd {
    left: 31px;
    top: 3px;
}

.orc-war .frame-18-rKFCBu {
    background-color: var(--shark);
    border-radius: 5px;
    gap: 10px;
    justify-content: center;
    left: 250px;
    padding: 10px;
    position: absolute;
    top: 0px;
    width: 87px;
}

.orc-war .group-8-ruULly {
    height: 14px;
    width: 13px;
}

.orc-war .x31151-b-ruULly {
    background-color: transparent;
    letter-spacing: -0.22px;
    line-height: 12.1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .frame-19-rKFCBu {
    align-items: center;
    background-color: var(--shark);
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 0px;
    padding: 10px;
    position: absolute;
    width: 30px;
}

.orc-war .x5-sDaOSL {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .vector-8-cgtvab {
    height: 31px;
    left: 50px;
    top: 6px;
    width: 1px;
}

.orc-war .vector-9-cgtvab {
    left: 228px;
}

.orc-war .group-47-gfXRIF {
    background-color: transparent;
    height: 41px;
    left: 30px;
    position: absolute;
    top: 715px;
    width: 367px;
}

.orc-war .rectangle-10-P5r8SD {
    height: 41px;
    left: 0px;
    top: 0px;
    width: 367px;
}

.orc-war .frame-16-P5r8SD {
    height: 33px;
    left: 5px;
    top: 4px;
    width: 68px;
}

.orc-war .frame-17-EpcF0b {
    background-color: var(--shark);
    border-radius: 5px;
    gap: 10px;
    justify-content: center;
    left: 55px;
    padding: 10px;
    position: absolute;
    top: -0px;
    width: 170px;
}

.orc-war .x59193c11-9086-446e-a544-d8ed9f2e49e8-1-a75J6v {
    left: 31px;
    top: 3px;
}

.orc-war .frame-18-EpcF0b {
    background-color: var(--shark);
    border-radius: 5px;
    gap: 10px;
    justify-content: center;
    left: 250px;
    padding: 10px;
    position: absolute;
    top: 0px;
    width: 87px;
}

.orc-war .group-8-Ny3Txx {
    height: 14px;
    width: 13px;
}

.orc-war .x27474-b-Ny3Txx {
    background-color: transparent;
    letter-spacing: -0.22px;
    line-height: 12.1px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .frame-19-EpcF0b {
    align-items: center;
    background-color: var(--shark);
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 0px;
    padding: 10px;
    position: absolute;
    width: 30px;
}

.orc-war .x6-N2lhx0 {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .vector-8-P5r8SD {
    height: 31px;
    left: 50px;
    top: 6px;
    width: 1px;
}

.orc-war .vector-9-P5r8SD {
    left: 228px;
}

.orc-war .x2-2-gfXRIF {
    background-color: transparent;
    object-fit: cover;
    position: absolute;
    top: 0px;
}

.orc-war .group-39-gfXRIF {
    background-color: transparent;
    height: 50px;
    position: relative;
    top: 35px;
    width: 333px;
}

.orc-war .rectangle-10-9mhVzY {
    height: 42px;
    opacity: 0.25;
    top: 3px;
    width: 333px;
}

.orc-war .frame-16-9mhVzY {
    height: 34px;
    left: 0px;
    top: 7px;
    width: 333px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orc-war .frame-19-C1Ze1Q {
    align-items: center;
    background-color: #073d029e;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 5px;
    padding: 10px;
    position: relative;
    width: 100px;
}

.orc-war .frame-20-C1Ze1Q {
    background-color: #0c9a0080;
}

.orc-war .group-40-gfXRIF {
    background-color: transparent;
    height: 50px;
    left: 39px;
    position: absolute;
    top: 163px;
    width: 333px;
}

.orc-war .rectangle-10-LprqiJ {
    height: 41px;
    left: 17px;
    opacity: 0.25;
    top: 3px;
    width: 316px;
}

.orc-war .frame-16-LprqiJ {
    height: 34px;
    left: 0px;
    top: 7px;
    width: 333px;
}

.orc-war .frame-19-ekdxd7 {
    align-items: center;
    background-color: #8a000080;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 20px;
    padding: 10px;
    position: absolute;
    width: 100px;
}

.orc-war .frame-20-ekdxd7 {
    background-color: #c9d2e280;
    left: 210px;
}

.orc-war .group-41-gfXRIF {
    background-color: transparent;
    height: 50px;
    left: 39px;
    position: absolute;
    top: 207px;
    width: 333px;
}

.orc-war .rectangle-10-1epfzU {
    height: 41px;
    left: 17px;
    opacity: 0.25;
    top: 3px;
    width: 316px;
}

.orc-war .frame-16-1epfzU {
    height: 34px;
    left: 0px;
    top: 7px;
    width: 333px;
}

.orc-war .frame-20-UxBtug {
    background-color: var(--shark);
    left: 20px;
}

.orc-war .frame-21-UxBtug {
    align-items: center;
    background-color: #05337e80;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 210px;
    padding: 10px;
    position: absolute;
    top: 0px;
    width: 100px;
}

.orc-war .group-45-gfXRIF {
    background-color: transparent;
    height: 72px;
    position: relative;
    top: 45px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.orc-war .rectangle-10-OxckLq {
    background-color: #31353b50 !important;
    height: 70px;
    top: 0px;
    width: 361px;
    position: relative !important;
}

.orc-war .frame-16-OxckLq {
    height: 65px;
    top: 5px;
    position: relative !important;
}

.orc-war .frame-19-tkD6WF {
    background-color: #040200b0;
    height: 60px;
    left: 5px;
    position: relative;
    width: 350px;
}

.orc-war .title-JWTY9q {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 600;
    height: auto;
    left: 10px;
    letter-spacing: -0.60px;
    line-height: 33.0px;
    position: absolute;
    text-align: left;
    top: 15px;
    white-space: nowrap;
    width: auto;
}

.orc-war .x15958-JWTY9q {
    background-color: transparent;
    color: var(--white);
    font-family: "Times New Roman", Times, serif;
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 600;
    height: auto;
    left: 215px;
    letter-spacing: -0.60px;
    line-height: 33.0px;
    position: absolute;
    text-align: left;
    top: 14px;
    white-space: nowrap;
    width: auto;
}

.orc-war .general-war-bar-0Yffcq {
    background-color: transparent;
    height: 60px;
    left: 31px;
    position: fixed;
    top: 852px;
    width: 368px;
}

.orc-war .frame-11-xFIxtJ {
    align-items: center;
    background-color: var(--outer-space);
    border-radius: 12px;
    display: flex;
    gap: 6px;
    height: 60px;
    left: 0px;
    padding: 5px;
    position: relative;
    top: 0px;
    width: 368px;
}

.orc-war .frame-13-5Adm2c {
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 50px;
    padding: 5px 10px;
    position: relative;
    width: 65px;
}

.orc-war .group-AMm6h4 {
    width: 32px;
}

.orc-war .x1-57-quW5yL {
    background-color: transparent;
    height: 24px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    transform: rotate(-180deg);
    width: 30px;
}

.orc-war .attack-quW5yL {
    background-color: transparent;
    height: auto;
    left: 2px;
    letter-spacing: 0.00px;
    line-height: 9.9px;
    opacity: 0.5;
    position: absolute;
    text-align: left;
    top: 0px;
    transform: rotate(-180deg);
    white-space: nowrap;
    width: auto;
}

.orc-war .frame-17-5Adm2c {
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    flex-direction: column;
    gap: 2px;
    height: 50px;
    padding: 5px 10px;
    position: relative;
    width: 65px;
}

.orc-war .group-F5oYfz {
    width: 42px;
}

.orc-war .base-FR2fAn {
    background-color: transparent;
    height: auto;
    left: 10px;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    opacity: 0.5;
    position: absolute;
    text-align: left;
    top: 0px;
    transform: rotate(-180deg);
    white-space: nowrap;
    width: auto;
}

.orc-war .x5-8-FR2fAn {
    background-color: transparent;
    height: 40px;
    left: 0px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 2px;
    transform: rotate(-180deg);
    width: 40px;
}

.orc-war .frame-18-5Adm2c {
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    flex-direction: column;
    gap: 2px;
    height: 50px;
    padding: 5px 10px;
    position: relative;
    width: 65px;
}

.orc-war .group-U02MLx {
    width: 32px;
}

.orc-war .x6-501-QxDciW {
    background-color: transparent;
    height: 30px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 12px;
    transform: rotate(-180deg);
    width: 30px;
}

.orc-war .ladder-QxDciW {
    background-color: transparent;
    height: auto;
    left: 2px;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    opacity: 0.5;
    position: absolute;
    text-align: left;
    top: 0px;
    transform: rotate(-180deg);
    white-space: nowrap;
    width: auto;
}

.orc-war .frame-15-5Adm2c {
    align-items: center;
    background-color: #0b0b0b80;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 50px;
    padding: 5px 10px;
    position: relative;
    width: 65px;
}

.orc-war .group-8-Tq8AFq {
    height: 42px;
    margin-bottom: -2.00px;
    width: 32px;
}

.orc-war .x7-1-bH7oLf {
    background-color: transparent;
    height: 30px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 30px;
}

.orc-war .war-bH7oLf {
    background-color: transparent;
    height: auto;
    left: 8px;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    position: absolute;
    text-align: left;
    top: 32px;
    white-space: nowrap;
    width: auto;
}

.orc-war .frame-14-5Adm2c {
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 50px;
    padding: 5px 10px;
    position: relative;
    width: 65px;
}

.orc-war .group-L0AFhh {
    width: 37px;
}

.orc-war .treasure-HLAFug {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: -0.18px;
    line-height: 9.9px;
    opacity: 0.5;
    position: absolute;
    text-align: left;
    top: 0px;
    transform: rotate(-180deg);
    white-space: nowrap;
    width: auto;
}

.orc-war .x8-4-HLAFug {
    background-color: transparent;
    height: 32px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    transform: rotate(-180deg);
    width: 32px;
}

.orc-war .angels {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: 0;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .demons {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: 0;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .elves {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: 0;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .frame-16 {
    background-color: transparent;
    position: absolute;
}

.orc-war .frame-17 {
    align-items: center;
    display: flex;
}

.orc-war .frame-18 {
    align-items: center;
    display: flex;
}

.orc-war .frame-19 {
    border-radius: 5px;
    top: 0px;
}

.orc-war .frame-20 {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
    top: 0px;
    width: 100px;
    right: 5px;
}

.orc-war .frame-4 {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 3px;
    position: relative;
}

.orc-war .group {
    background-color: transparent;
    height: 42px;
    margin-bottom: -2.00px;
    opacity: 0.6;
    position: relative;
    transform: rotate(180deg);
}

.orc-war .group-8 {
    background-color: transparent;
    position: relative;
}

.orc-war .humans {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: 0;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .orcs {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: 0;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .pngtreeglossy-golden-coin-icon_6866281-1 {
    background-color: transparent;
    height: 14px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 13px;
}

.orc-war .rectangle-10 {
    background-color: var(--outer-space);
    border-radius: 10px;
    position: absolute;
}

.orc-war .undeads {
    background-color: transparent;
    letter-spacing: -0.24px;
    line-height: 13.2px;
    margin-top: 0;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.orc-war .vector-8 {
    background-color: transparent;
    position: absolute;
}

.orc-war .vector-9 {
    background-color: transparent;
    height: 31px;
    position: absolute;
    top: 6px;
    width: 1px;
}

.orc-war .x22 {
    background-color: transparent;
    height: 50px;
    object-fit: cover;
    position: relative;
    top: 0px;
    width: 50px;
}

.orc-war .x59193c11-9086-446e-a544-d8ed9f2e49e8-1 {
    background-color: transparent;
    height: 30px;
    object-fit: cover;
    position: absolute;
    width: 30px;
}

.orc-war .x9b3af883-354d-4413-bf7f-37baaad350d0-2 {
    background-color: transparent;
    height: 30px;
    object-fit: cover;
    position: absolute;
    width: 30px;
}